.draggable {
  -webkit-app-region: drag;
}

.window-controls {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  justify-content: center;
}

.window-controls.min:hover {
  background: #6ff86f50;
}

.window-controls.max:hover {
  background: #f8f66f50;
}

.window-controls.close:hover {
  background: #f86f6f50;
}

.sidebar-bottom {
  align-self: flex-end;
}

.torrent-stats span+span::before {
  content: "•";
  padding: 0 1rem;
}

.torrent-stats>span {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.sidebar-link.selected {
  border-left: 2px solid #1890ff !important;
  background: #1890ff33 !important
}

table {
  table-layout: fixed;
}

.table-auto {
  table-layout: auto;
}

.file-names {
  display: none !important
}

.mh-half {
  max-height: 50%;
}

.mh-three-quarter {
  max-height: 75%;
}
::-webkit-inner-spin-button{
  opacity: 1;
  padding-top: 2rem;
  margin-left: .4rem;
  margin-right: -.5rem;
}
.dark-mode ::-webkit-inner-spin-button {
  filter: invert(.84);
}