@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --navbar-height: 2.4rem;
  --card-border-radius: .15rem;
  --dropdown-menu-border-radius: .25rem;
  --sidebar-width: 21rem;
  --lm-base-body-bg-color: #ecf0f1;
  --dm-border-color: #111111 !important;
  --lm-border-color: #dbdbdb !important;
  --dm-card-border-color: #111111 !important;
  --lm-card-border-color: #dbdbdb !important;
  --table-padding: 1rem .8rem;
}

.glassmorph {
  --lm-base-body-bg-color: #ffffff88;
  --white-bg-color: #ffffff88;
  --gray-color-light: #ecf0f188;

  --dm-base-body-bg-color: #191c2088;
  --dark-color-light: #25282c88;
  --dark-color: #191c2088;
  --dark-color-dark: #11141788;
}

body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
}