@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --navbar-height: 2.4rem;
}

.material-icons{
  font-size: var(--base-font-size) !important
}

body {
  background: #ffffff1c;
  font-family: 'Roboto', sans-serif;
}